* {
  box-sizing: border-box;
}

.main-content {
  width: 50%;
  margin: 20px auto;
  padding: 20px 0 20px;
  text-align: -webkit-center;
  float: left;
  border: 1px solid black;
  font: 16px Arial;
}

li {
  display: inline-table;
  width: 200px;
  margin: 20px;
  border: 1px solid black;

}

.description {
  margin-left: 30%;
  border-left: 1px solid black;
  padding: 20px;
  position: relative;
}

.description-item {
  margin-left: 20%;
  border-left: 1px solid;
  padding: 0 3px;
  height: 330px;
  position: relative;
}

.poster {
  position: relative;
  top: 0;
  right: 0;
}

img {
  width: 150px;
}

.large-img {
  width: 50%;
}

button {
  width: 25px;
  height: 25px;
  border: 0;
  outline: none;
}

.like {
  background: url(app/features/main/images/like.png) 3px no-repeat;
}

.dislike {
  background: url(app/features/main/images/dislike.png) 3px no-repeat;
}

.detail-content {
  margin-left: 50%;
  padding: 20px 0 20px 20px;
  font: 18px Arial;
  line-height: 1.5;
}

.content {
  border: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  width: 30%;
  float: left;
  padding: 20px;
}

.sidebar-item {
  width: 20%;
  float: left;
}

span {
  font-weight: bolder;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  outline: none;
  background: url(app/features/main/images/close.png) no-repeat;
}

.side-item__likes {
  font-size: 12px;
  border-bottom: 1px solid black;
}

.stars {
  border-top: 1px solid black;
}

.reviewStars-input input:checked ~ label, .reviewStars-input label, .reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
  background: url(app/features/main/images/star.png) no-repeat;
}

.reviewStars-input {
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 30px;
}

.reviewStars-input input {
  /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
  opacity: 0;

  position: absolute;
  top: 0;
  z-index: 0;
}

.reviewStars-input input:checked ~ label {
  background-position: 0 -25px;
}

.reviewStars-input label {
  background-position: 0 0;
  height: 26px;
  width: 29px;
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.reviewStars-input label:hover {
  background-position: 0 -25px;
}
