<div class="clearfix">
  <div [style.width]="widthMainContent" class="main-content">
    <sort-buttons></sort-buttons>

    <ul class="wrapper">
      <li *ngFor="let item of itemData">
          <div class="sidebar-item">
            <button class="like" (click)="like(item)"></button>
            <button class="dislike" (click)="dislike(item)"></button>
            <div class="side-item__likes">likes</div>
            <div>{{ item.likes }}</div>
          </div>
          <div class="description-item" (click)="render(item)">
            <div>{{ item.title }}</div>
            <div class="clearfix"></div>
            <div class="poster"><img src="{{ item.posterUrl }}" alt="poster"></div>
          </div>
        <stars>{{item.stars}}</stars>
        <div>{{item.stars}}</div>
      </li>
    </ul>

  </div>
  <div [style.visibility]="toggoleShowHide" class="detail-content">
    <div class="content">
      <div class="sidebar">
        <div>{{ title }}</div>
        <div><span>Likes: </span>{{ likes }}</div>
      </div>
      <div class="description">
        <button class="close" (click)="close()"></button>
        <img class="large-img" src="{{ posterUrl }}" alt="постер">
        <div><span>Director: </span>{{ director }}</div>
        <div><span>Actors: </span>{{ actors }}</div>
        <div><span>Genres: </span>{{ genres }}</div>
        <div><span>Description: </span>{{ description }}</div>
      </div>
    </div>
  </div>
</div>

